@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-family-barlowC);
   background-color: #d8e2dc;
  }
  @media (max-width: 400px) {
    p {
      font-size: 1rem
    }
  }
